<div class="content">
  <p class="titre1">Modifier cette formation</p>
  <div>
    <form action="">
      <div >
      <label for="nom">Nom </label>
      <input type="text" value="html">
    </div>

    <div>
      <label for="prix">Prix </label>
      <input type="number" value="55">
    </div>
    <div>
      <label for="date">Date </label>
      <input type="text" value="20-04-2022">
    </div>
    <div>
      <label for="description">description</label>
      <textarea name="description" cols="30" rows="5" >jajaj jjjj gggg hhhh jajaj jjjj gggg hhhh jajaj jjjj gggg hhhh
      </textarea>
    </div>
      <input type="submit" value="MODIFIER">
    </form>
  </div>
  <img src="../../../assets/detail.svg" alt="detail">
</div>
