<div class="content">
  <p class="titre1">Ajouter une autre formation</p>
  <div>
    <form action="">
      <div >
      <label for="nom">Nom </label>
      <input type="text">
    </div>

    <div>
      <label for="prix">Prix </label>
      <input type="number">
    </div>
    <div>
      <label for="date">Date </label>
      <input type="text">
    </div>
    <div>
      <label for="description">description</label>
      <textarea name="description" cols="30" rows="5">

      </textarea>
    </div>
      <input type="submit" value="AJOUTER">
    </form>
  </div>
  <img src="../../../assets/detail.svg" alt="detail">
</div>
