.myheader{
  display: flex;
 // justify-content:space-around;
 justify-content: space-between;
 padding: 5%;
 //padding-right: 20%;
  background-color: #FF8563;
  background-color: #f87551;

  font-size: 18px;
  font-weight: 600;
  height: 100px;
 margin: auto;
//border-bottom-left-radius: 40px;
border-bottom-right-radius: 40px;
// box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
// box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
color:#2e2b2a;

}
.myheader i{
  margin-top: auto;
  margin-bottom: auto;
  font-size: 22px;

}
.logo{
  margin-top: auto;
  margin-bottom: auto;
  justify-items: center;
  display: flex;
}
.titre1{
  text-align: center;
  font-size: 20px;
  font-family: Elephant;
  margin-top: 15px;
 // text-decoration: underline;

}
.item{
  // background-color: aqua;
   border-radius: 10px;
   margin: 5%;
   padding: 15px;

  //box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   //background-color:rgb(247, 243, 243);

  background-color: white;
  border: 1px solid #78645F;

 }
 .item_flex{
  display: flex;
  justify-content: space-between;
  margin: auto;
  font-size: 16px;
 // justify-content: space-around;
}
.nom{
  font-size: 16px;
 font-weight: 900;
}
.btn{
  width: 40%;
  font-size: 14px;

background-color: #78645F;

color: white;
font-weight: 700;
    border-radius: 5px;
  height: fit-content;
  padding: 8px;
  margin-left: auto;
margin-top: auto;
margin-bottom: auto;

}

