<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="contenu">
  <div class="myheader">
    <div class="logo"><span class="glyphicon glyphicon-education" style="margin-right: 10px;font-size: 35px;"></span>
     <p style="margin: auto;font-size: 20px;"> TecEduc</p>
    </div>
    <i class="fa fa-sign-out" ></i>
    </div>
  <p class="titre1"> Mes Demandes</p>

    <div class="item">
      <div class="item_flex">
        <div >
          <p class="nom">CSS</p>
          <p class="prix">350dh</p>
          <p> <a href="#" > plus de detail</a></p>
        </div>
        <button class="btn" >ANNULER</button>
      </div>

  </div>
  <div class="item">
    <div class="item_flex">
      <div >
        <p class="nom">CSS</p>
        <p class="prix">350dh</p>
        <p> <a href="#" > plus de detail</a></p>
      </div>
      <button class="btn"  >ANNULER</button>
    </div>

</div>
</div>
