
.commande{
  margin-left: 6%;

  display: flex;
  padding-top: 20px;
  font-size: 15px;
font-weight: 600;
margin-top: auto;
margin-bottom: auto;
}
.commande i{
  font-size: 14px;

  margin-right: 10px;
}
.myheader{
  display: flex;
 // justify-content:space-around;
 justify-content: space-between;
 padding: 5%;
 //padding-right: 20%;
  background-color: #FF8563;
  background-color: #f87551;

  font-size: 18px;
  font-weight: 600;
  height: 100px;
 margin: auto;
//border-bottom-left-radius: 40px;
border-bottom-right-radius: 40px;
// box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
// box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
color:#2e2b2a;

}
.myheader i{
  margin-top: auto;
  margin-bottom: auto;
  font-size: 22px;

}
.logo{
  margin-top: auto;
  margin-bottom: auto;
  justify-items: center;
  display: flex;
}
.grand-contenu{

  background-color: white;
  overflow: auto;
  margin-bottom: 0;
}
.contenu{
  height: 100vh;
 //  background-color:white;
  margin: 0;
  //border-top-right-radius:10% ;
  overflow: auto;
  padding-bottom: 10PX;

}
.item{
 // background-color: aqua;
  border-radius: 10px;
  margin: 5%;
  padding: 15px;

 //box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  //background-color:rgb(247, 243, 243);

 background-color: white;
 border: 1px solid #78645F;

}
.item_flex{
  display: flex;
  justify-content: space-between;
  margin: auto;
  font-size: 16px;
 // justify-content: space-around;
}
.number2{
  justify-content: flex-start;
}
.item_flex i{
  margin-top: auto;
  margin-bottom: auto;
  font-size: 20px;
  margin-right: 8px;
}
.nom{
  font-size: 16px;
 font-weight: 900;
}

.btn{
  width: 40%;
  font-size: 14px;

background-color: #78645F;
color: white;
font-weight: 700;
    border-radius: 5px;
  height: fit-content;
  padding: 8px;
  padding: 8px  13px;
  margin-left: auto;
margin-top: auto;
margin-bottom: auto;



}
.petit-titre{
margin: 0 0 0 6%;font-size: 15px;
font-weight: 600;
}

a{
 // text-decoration: underline;
 font-family: Elephant;
  font-weight: 500;
  font-size: 16px;
  color: #2e2b2a;
  text-decoration: underline;
}
.commande a{
  text-decoration: underline;
font-size: 16PX;
  color: #057ef8;
}
